<div class="catalog-options mb-3 mb-lg-4 d-flex align-items-center">

    <span class="mr-auto text-dark">Всего: 38</span>

    <button class="f-button f-dropdown text-decoration-none">
        <svg width="16" height="16">
            <use xlink:href="#icon-sort-black"></use>
        </svg>
        <span class="pl-2 d-none d-sm-inline-block">Популярные</span>

        <ul class="f-dropdown-list">
            <li><a class="dropdown-item small active" href="#">Популярные</a></li>
            <li><a class="dropdown-item small" href="#">Сначала новинки</a></li>
            <li><a class="dropdown-item small" href="#">Сначала дешевле</a></li>
            <li><a class="dropdown-item small" href="#">Сначала дороже</a></li>
        </ul>
    </button>

    <a href="" class="button-icon d-none">
        <svg width="16" height="16" class="text-primary">
            <use xlink:href="#icon-grid"></use>
        </svg>
    </a>
    <a href="" class="button-icon d-none">
        <svg width="16" height="16" class="rotate-90">
            <use xlink:href="#icon-cols"></use>
        </svg>
    </a>

    <button class="f-button f-dropdown bg-white text-decoration-none d-xl-none" data-fancybox data-src="#filter">
        <svg width="16" height="16">
            <use xlink:href="#icon-filter-black"></use>
        </svg>
        <span class="pl-2">Фильтры</span>
    </button>
</div>