<div class="row category-list">
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/1.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Спецодежда</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Ветрозащитная одежда&nbsp;<span>128</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Влагозащитная одежда&nbsp;<span>170</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Зимняя спецодежда&nbsp;<span>230</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Кислотощелочестойкая одежда&nbsp;<span>9</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Летняя спецодежда&nbsp;<span>288</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Одежда для сварщиков и металлургов&nbsp;<span>74</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Одежда химзащиты&nbsp;<span>10</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Рабочие халаты&nbsp;<span>40</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Разгрузочные и сигнальные жилеты&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Сигнальная одежда&nbsp;<span>60</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Рабочие халаты&nbsp;<span>40</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Разгрузочные и сигнальные жилеты&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Сигнальная одежда&nbsp;<span>60</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Рабочие халаты&nbsp;<span>40</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Разгрузочные и сигнальные жилеты&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="#" class="dark_link">Сигнальная одежда&nbsp;<span>60</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/letnyaya_rabochaya_obuv/" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/1.jpg')"></div>
        </div>
    </div>
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/2.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Обувь</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/aksessuary_dlya_obuvi/" class="dark_link">Аксессуары для обуви&nbsp;<span>20</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/valyanaya_sukonnaya_kombinirovannaya_obuv/" class="dark_link">Валяная, суконная, комбинированная обувь&nbsp;<span>90</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/zapadbaltobuv/" class="dark_link">ЗападБалтОбувь&nbsp;<span>21</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/zimnyaya_rabochaya_obuv/" class="dark_link">Зимняя рабочая обувь&nbsp;<span>114</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/meditsinskaya_obuv/" class="dark_link">Медицинская обувь&nbsp;<span>35</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/casual_shoes/" class="dark_link">Обувь Casual Shoes&nbsp;<span>29</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/obuv_dlya_aktivnogo_otdykha/" class="dark_link">Обувь для активного отдыха&nbsp;<span>234</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/obuv_dlya_silovykh_struktur/" class="dark_link">Обувь для силовых структур&nbsp;<span>174</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/obuv_nitro/" class="dark_link">Обувь НИТРО&nbsp;<span>23</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/obuv_povsednevnaya/" class="dark_link">Обувь повседневная&nbsp;<span>46</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/letnyaya_rabochaya_obuv/" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/2.jpg')"></div>
        </div>
    </div>
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/3.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Средства индивидуальной защиты</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/dielektrika/" class="dark_link">Диэлектрика&nbsp;<span>52</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_golovy/" class="dark_link">Защита головы&nbsp;<span>331</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_nog/" class="dark_link">Защита ног&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_organov_dykhaniya/" class="dark_link">Защита органов дыхания&nbsp;<span>136</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_organov_zreniya_i_litsa/" class="dark_link">Защита органов зрения и лица&nbsp;<span>297</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_organov_slukha/" class="dark_link">Защита органов слуха&nbsp;<span>43</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/zashchita_ot_padeniya_s_vysoty/" class="dark_link">Защита от падения с высоты&nbsp;<span>251</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/sredstva_zashchity_ruk/" class="dark_link">Защита рук&nbsp;<span>246</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/kombinezony_zashchitnye/" class="dark_link">Комбинезоны защитные&nbsp;<span>21</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/sredstva_individualnoy_zashchity/perchatki_varezhki_rukavitsy/" class="dark_link">Перчатки, варежки, рукавицы&nbsp;<span>108</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/letnyaya_rabochaya_obuv/" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/3.jpg')"></div>
        </div>
    </div>
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/41.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Камуфляж</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/bryuki_kamuflyazhnye/" class="dark_link">Брюки, шорты камуфляжные&nbsp;<span>31</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/golovnye_ubory_kamuflyazhnye/" class="dark_link">Головные уборы камуфляжные&nbsp;<span>17</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/detskaya_odezhda/" class="dark_link">Детская одежда&nbsp;<span>11</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/zhilety_kamuflyazhnye/" class="dark_link">Жилеты камуфляжные&nbsp;<span>7</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/kostyumy_demisezonnye_kamuflyazhnye/" class="dark_link">Костюмы демисезонные камуфляжные&nbsp;<span>69</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/kostyumy_zimnie_kamuflyazhnye/" class="dark_link">Костюмы зимние камуфляжные&nbsp;<span>62</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/kostyumy_letnie_kamuflyazhnye/" class="dark_link">Костюмы летние камуфляжные&nbsp;<span>158</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/kurtki_kamuflyazhnye/" class="dark_link">Куртки камуфляжные&nbsp;<span>15</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/polukombinezony_kamuflyazhnye/" class="dark_link">Полукомбинезоны камуфляжные&nbsp;<span>5</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/seti_maskirovochnye_kamuflyazhnye/" class="dark_link">Сети маскировочные камуфляжные&nbsp;<span>75</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/kamuflyazh/futbolki_mayki_kamuflyazhnye_/" class="dark_link">Футболки, майки камуфляжные&nbsp;&nbsp;<span>9</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/letnyaya_rabochaya_obuv/" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/41.jpg')"></div>
        </div>
    </div>
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/5.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Одежда для авиации</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.177/" class="dark_link">Аксессуары&nbsp;<span>29</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153768.8594/" class="dark_link">Головные уборы&nbsp;<span>38</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.1435/" class="dark_link">Комбинезоны лётные&nbsp;<span>14</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153768.7931/" class="dark_link">Костюмы лётного и инж.-тех. состава&nbsp;<span>13</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.8841/" class="dark_link">Куртки кожаные&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.9257/" class="dark_link">Куртки утепленные&nbsp;<span>1</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.8406/" class="dark_link">Куртки-ветровки, бомберы&nbsp;<span>15</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153768.8284/" class="dark_link">Поло, футболки&nbsp;<span>12</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153771.9686/" class="dark_link">Полукомбинезоны утепленные&nbsp;<span>4</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_aviatsii/1690153768.8445/" class="dark_link">Свитеры, джемперы, жилеты&nbsp;<span>9</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" _href="/catalog/obuv/letnyaya_rabochaya_obuv/" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/5.jpg')"></div>
        </div>
    </div>
    <div class="section-search-block col-12 col-md-12 col-lg-6 _col-xl-4 mb-5">
        <div class="category-item">
            <div class="row ml-0">
                <div class="col-4 d-none d-md-block cat-img" style="background-image: url('/upload/cats/6.jpg')"></div>
                <div class="col-12 col-md-8">
                    <div class="cat-content">
                        <a href="/html/catalog.html" _href="#"><h3 class="mb-4">Одежда для охраны</h3></a>

                        <div class="cat-content-wrap scrollbar-inner mb-2">
                            <ul>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153771.4761/" class="dark_link">Амуниция&nbsp;<span>22</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153770.8897/" class="dark_link">Брюки для сотрудников охраны&nbsp;<span>17</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153768.9424/" class="dark_link">Брюки, полукомбинезоны утепленные&nbsp;<span>16</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153770.9352/" class="dark_link">Ветровлагозащитная одежда для охраны&nbsp;<span>8</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153768.9811/" class="dark_link">Головные уборы охранника летние&nbsp;<span>50</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153771.5135/" class="dark_link">Головные уборы охранника утепленные&nbsp;<span>18</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153771.3583/" class="dark_link">Костюмы классические для охраны&nbsp;<span>6</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153768.8737/" class="dark_link">Костюмы форменные для охраны&nbsp;<span>43</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153770.9689/" class="dark_link">Куртки утепленные, подстежки&nbsp;<span>40</span></a></li>
                                <li class="sect"><a href="/html/section.html" _href="/catalog/odezhda_dlya_okhrany/1690153768.9171/" class="dark_link">Куртки, пиджаки, жакеты для охраны&nbsp;<span>24</span></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li class="sect"><a href="/html/section.html" class="text-primary"><u>Все товары</u></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-cat-img d-md-none" style="background-image: url('/upload/cats/6.jpg')"></div>
        </div>
    </div>
</div>