

<section class="section bg-image bg-cover bg-overlay" style="background-image: url('/upload/hero.jpg')">
    <div class="container-fluid">
        <div class="section-form-block">
            <div class="section-header mb-4">
                <div class="d-flex align-items-center">
                    <h3 class="h3"><span class="text-primary">Будьте</span> в курсе</h3>
                </div>
                <h5 class="text-secondary">Первыми узнавайте о новых предложениях, акциях и скидках</h5>
            </div>

            <div class="section-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ваша почта</label>
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Мы никогда не передадим ваш адрес электронной почты третьим лицам</small>
                    </div>
                    <div class="form-group">
                        <label>Какая темя вас интересует</label>
                        <select class="custom-select form-control-lg mr-sm-2">
                            <option selected>Выбирете...</option>
                            <option value="1">Спецодежда</option>
                            <option value="2">Обувь</option>
                            <option value="3">Средства индивидуальной защиты</option>
                            <option value="4">Камуфляж</option>
                            <option value="5">Униформа</option>
                            <option value="6">Сфера услуг</option>
                            <option value="7">Медицинская одежда</option>
                            <option value="8">Охота и рыбалка</option>
                            <option value="9">Туризм и отдых</option>
                            <option value="10">Трикотаж</option>
                            <option value="11">Одежда для авиации</option>
                            <option value="12">Одежда для охраны</option>
                            <option value="13">Аксессуары</option>
                            <option value="14">Головные уборы</option>
                            <option value="15">Спорт</option>
                            <option value="16">Школьная форма</option>
                            <option value="17">Одноразовая одежда</option>
                            <option value="18">Постельние принадлежности</option>
                            <option value="19">Бронежилеты</option>
                            <option value="20">Товары для охоты, рыбалки и туризма</option>
                            <option value="21">Сопутствующие товары</option>
                            <option value="22">Противопожарное оборудование</option>
                            <option value="23">Флаги и Гербы</option>
                            <option value="24">Средства для профессионального клининга</option>
                        </select>
                    </div>
                    <div class="form-group form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Я согласен с политикой обработки персональных данных</label>
                    </div>
                    <button type="submit" class="f-button c-primary">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section light-gray-stripe">
        <div class="section-header mb-5">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <h3 class="h2"><span class="text-primary">Связь</span> с поддержкой</h3>
                    <a href="#" class="f-button c-gray ml-auto">
                        <svg width="16" height="16" class="d-md-none">
                            <use xlink:href="#icon-arrow-control"></use>
                        </svg>
                        <span class="pl-2 text-uppercase d-none d-md-inline">Вопросы и ответы</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="section-body">
            <div class="container-fluid">
                <div class="support-list row">
                    <div class="col-12 col-lg-6 col-xl-3 mb-4 mb-xl-0">
                        <a href="#" class="support__link">
                            <span class="support__icon-wrapper bg-primary">
                                <svg class="support__link-icon tg" width="24" height="24">
                                    <use xlink:href="#icon-tg-white"></use>
                                </svg>
                            </span>
                            Telegram
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 mb-4 mb-xl-0">
                        <a href="#" target="_blank" class="support__link">
                            <span class="support__icon-wrapper bg-primary">
                                <svg class="support__link-icon" width="24" height="24">
                                    <use xlink:href="#icon-mail"></use>
                                </svg>
                            </span>
                            Почта
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 mb-4 mb-xl-0">
                        <a href="#" target="_blank" class="support__link">
                            <span class="support__icon-wrapper bg-primary">
                                <svg class="support__link-icon" width="24" height="24">
                                    <use xlink:href="#icon-vk"></use>
                                </svg>
                            </span>
                            ВКонтакте
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 mb-4 mb-xl-0">
                        <a href="#" class="support__link">
                            <span class="support__icon-wrapper bg-primary">
                                <svg class="support__link-icon" width="24" height="24">
                                    <use xlink:href="#icon-tel"></use>
                                </svg>
                            </span>
                            +7 (904) 649-92-02
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer id="footer" class="bg-dark">
    <div class="bg-elements">
        <div class="bg-logo">
            <div class="line-top"></div>
            <div class="line-middle"></div>
            <div class="line-bottom"></div>
        </div>
        <div class="bg-name">formaro</div>
    </div>

    <div class="container-fluid py-5">
        <div class="row full-menu">

            //= full-menu.html

            <div class="col-12 my-5"></div>

            <div class="col-12 col-md-6 col-lg-9 text-center text-md-left">
                <a href="/html/" class="text-white">Маркетплейс «Формаро»</a> © 2026. Все права защищены
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center text-md-left">
                <ul class="footer__payments">
                    <li>
                        <img class="footer__payments-img" src="/local/templates/formaro_v1/img/mastercard.svg" height="26" alt="MasterCard">
                    </li>
                    <li>
                        <img class="footer__payments-img" src="/local/templates/formaro_v1/img/visa.svg" height="26" alt="VISA">
                    </li>
                    <li>
                        <img class="footer__payments-img" src="/local/templates/formaro_v1/img/mir.svg" height="26" alt="MIR">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('/local/templates/formaro_v1/js/vendor/jquery-3.4.1.min.js"><\/script>');
</script>

<script src="/local/templates/formaro_v1/js/scripts.min.js?v{{version}}"></script>

//= svg.html