<div class="col-12 col-xl-4">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-12">
            <h5 class="mb-3">Каталог</h5>

            <ul class="submenu">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Спецодежда</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Обувь</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Средства индивидуальной защиты</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Камуфляж</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Униформа</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Сфера услуг</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Медицинская одежда</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Охота и рыбалка</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Туризм и отдых</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Трикотаж</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Одежда для авиации</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Одежда для охраны</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-xl-12">
            <h5 class="mb-4 d-none d-md-block d-xl-none" style="opacity: 0;">Каталог</h5>

            <ul class="submenu mb-4">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Аксессуары</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Головные уборы</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Спорт</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Школьная форма</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Одноразовая одежда</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Постельние принадлежности</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Бронежилеты</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Товары для охоты, рыбалки и туризма</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Сопутствующие товары</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Противопожарное оборудование</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Флаги и Гербы</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Средства для профессионального клининга</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-12 d-xl-none my-4">
    <div class="border-bottom border-white mb-4" style="opacity: 0.3"></div>
</div>

<div class="col-12 col-xl-4">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-12">
            <h5 class="mb-3">Покупателям</h5>

            <ul class="submenu mb-4">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Личный кабинет покупателя</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Заказы</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Сделать заказ</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Способ оплаты</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Доставка и стоимость</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Возврат и обмен</span>
                    </a>
                </li>
            </ul>

            <h5 class="mb-3">Партнерам</h5>

            <ul class="submenu mb-4">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Личный кабинет партнера</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Стать партнером</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Продавать товары</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Спецодежда</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-6 col-xl-12">

            <h5 class="mb-3">О нас</h5>

            <ul class="submenu mb-4">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Общая информация</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Реквизиты</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Контакты</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Работа у нас</span>
                    </a>
                </li>
            </ul>

            <h5 class="mb-3">Поддержка</h5>

            <ul class="submenu mb-4">
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Вопросы и ответы</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Отзывы и предложения</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Политика обработки персональных данных</span>
                    </a>
                </li>
                <li class="submenu-item">
                    <svg width="12" height="12">
                        <use xlink:href="#icon-arrow-control"></use>
                    </svg>
                    <a class="submenu-item-link" href="#">
                        <span class="name">Политика обработки cookie файлов</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-12 d-xl-none my-4">
    <div class="border-bottom border-white mb-4" style="opacity: 0.3"></div>
</div>

<div class="col-12 col-xl-4">
    <div class="row h-100">
        <div class="col-12 col-md-6 col-xl-12">

            <h5 class="mb-3">Личный кабинет</h5>

            <div class="bg-menu__actions mb-4">
                <a class="header__action-link" href="#profile" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                    <span>Ваш профиль</span>
                </a>
                <a class="header__action-link" href="/favorites/" aria-label="Заказы">
                    <svg class="header__action-icon" width="26" height="28" viewBox="0 0 26 28">
                        <use xlink:href="#icon-order"></use>
                    </svg>
                    <!--small class="header__action-count">1</small-->
                    <span>Заказы</span>
                </a>
                <a class="header__action-link" href="#profile" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-bell"></use>
                    </svg>
                    <span>Уведомления</span>
                </a>
                <a class="header__action-link" href="#profile" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-gift-cart"></use>
                    </svg>
                    <span>Сообщения</span>
                </a>
                <a class="header__action-link" href="/cart/" aria-label="Корзина">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-shopping"></use>
                    </svg>
                    <!--small class="header__action-count">1</small-->
                    <span>Корзина</span>
                </a>
                <a class="header__action-link" href="/favorites/" aria-label="Избранное">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-favorites"></use>
                    </svg>
                    <!--small class="header__action-count">1</small-->
                    <span>Избранное</span>
                </a>
                <a class="header__action-link" href="#profile" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-exit"></use>
                    </svg>
                    <span>Выйти</span>
                </a>
            </div>

        </div>
        <div class="col-12 col-md-6 col-xl-12 d-flex flex-column">

            <h5 class="mb-3">Связаться с нами</h5>

            <div class="bg-menu__actions mb-4">
                <a class="header__action-link" href="https://wa.me/79651282114" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-whatsapp"></use>
                    </svg>
                    <span>Whatsapp</span>
                </a>
                <a class="header__action-link" href="mailto:info@formaro.ru" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-mail"></use>
                    </svg>
                    <span>Почта</span>
                </a>
                <a class="header__action-link" href="#profile" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-vk"></use>
                    </svg>
                    <span>Вконтакте</span>
                </a>
                <a class="header__action-link" href="tel:+7 495 792 70 80" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-tel"></use>
                    </svg>
                    <span>+7 495 792 70 80</span>
                </a>
                <a class="header__action-link" href="#" data-popup-opener="profile" aria-label="Профиль">
                    <svg class="header__action-icon" width="20" height="20">
                        <use xlink:href="#icon-map-pin"></use>
                    </svg>
                    <span>Московская область г. Химки, ул. Молодёжная 15А</span>
                </a>
            </div>

            <h5 class="mb-3 mt-auto">Будь всегда в форме!</h5>
            <p class="ьи-4">Подписаться на рассылку</p>

            <form action="" class="subscribe-form d-flex mb-4">
                <input type="text" placeholder="Ваш e-mail" class="subscribe-form-input">
                <button class="f-button f-button-inner c-white">Отправить</button>
            </form>
        </div>
    </div>

</div>