<div class="row">

    <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p class="mb-0">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>

</div>