<div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p class="mb-0">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p class="mb-0">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p class="mb-0">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div><div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="news-card h-100 d-flex flex-column">
        <div class="news-card__img">
            <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
            <div class="badges">
                <small class="bg-success">Партнеры</small><br/>
            </div>
        </div>
        <div class="news-card__info">
            <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
            <div class="text-secondary mb-2">
                <small>3 февраля 2026</small>
            </div>
            <p class="mb-0">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
        </div>
        <div class="news-card__actions pb-4 mt-auto">
            <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
        </div>
    </div>
</div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-b.jpeg')"></div>
                <div class="badges">
                    <small class="bg-success">Партнеры</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-c.jpg')"></div>
                <div class="badges">
                    <small class="bg-primary">Маркеплейс</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="news-card h-100 d-flex flex-column">
            <div class="news-card__img">
                <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/hero-2.jpeg')"></div>
                <div class="badges">
                    <small class="bg-warning">Каталог</small><br/>
                </div>
            </div>
            <div class="news-card__info">
                <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                <div class="text-secondary mb-2">
                    <small>3 февраля 2026</small>
                </div>
                <p>Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
            </div>
            <div class="news-card__actions pb-4 mt-auto">
                <a href="/html/news-detail.html" class="ml-0 f-button f-button-inner c-gray">Подробнее</a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="pager">
            <div class="d-flex justify-content-center pt-4">
                <button class="f-button c-secondary" id="load-more">
                    <svg width="16" height="16">
                        <use xlink:href="#icon-grid"></use>
                    </svg>
                    <svg width="16" height="16" class="icon-progress d-none">
                        <use xlink:href="#icon-progress"></use>
                    </svg>
                    <span class="pl-2">Показать еще</span>
                </button>
            </div>

            <div class="d-flex justify-content-center hide-on-main pt-5">
                <ul class="pagging__list">
                    <li class="mr-4">
                        <a href="#" class="pagging__item bg-secondary text-white">
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-left"></use>
                            </svg>
                        </a>
                    </li>
                    <li><a href="#" class="pagging__item">1</a></li>
                    <li><span class="pagging__item">2</span></li>
                    <li><a href="#" class="pagging__item">3</a></li>
                    <li><a href="#" class="pagging__item">4</a></li>
                    <li><a href="#" class="pagging__item">5</a></li>
                    <li><a href="#" class="pagging__item">...</a></li>
                    <li><a href="#" class="pagging__item">7</a></li>
                    <li class="ml-4">
                        <a href="#" class="pagging__item bg-secondary text-white">
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>