<div class="main-carousel partners-carousel partners-list" _data-flickity='{ "cellAlign": "left", "wrapAround": true, "pageDots": false }'>

    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-b.jpeg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                    <p class="text-secondary">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-1.jpeg')"></div>
                </div>
            </div>

            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-c.jpg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                    <p class="text-secondary">Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-2.png')"></div>
                </div>
            </div>
            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-2.jpeg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                    <p class="text-secondary">Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-3.webp')"></div>
                </div>
            </div>
            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-b.jpeg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Nullam varius aliquet nis</h3>
                    <p class="text-secondary">Phasellus luctus lacinia lectus, convallis vehicula libero tempus vel Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-1.jpeg')"></div>
                </div>
            </div>

            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-c.jpg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Duis ut elit non arcu ultrices volutpat</h3>
                    <p class="text-secondary">Aenean suscipit sodales condimentum. Cras a dolor vestibulum, dapibus sem in, convallis leo</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-2.png')"></div>
                </div>
            </div>
            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="partners-card">
            <div class="partners-card__img">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url('/upload/hero-2.jpeg')"></div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-8 partners-card__info order-2 order-md-1">
                    <h3 title="Дождевик мужской Squall, желтый">Donec at lorem iaculis</h3>
                    <p class="text-secondary">Integer pellentesque, lectus non gravida fringilla, tellus turpis vehicula odio</p>
                </div>
                <div class="col-12 col-md-4 py-md-3 pr-md-0 order-1 order-md-2">
                    <div class="embed-responsive embed-responsive-4by3" style="background-image: url('/upload/partners/partner-logo-3.webp')"></div>
                </div>
            </div>
            <div class="partners-card__actions">
                <a href="/html/partner.html" class="f-button c-success">Каталог товаров</a>
            </div>
            <a href="/html/partner.html" class="stretched-link"></a>
        </div>
    </div>


</div>