<div class="product-card">
    <div class="product-card__img">
        <a href="/html/product-detail.html" class="embed-responsive embed-responsive-1by1" style="background-image: url('/upload/products/3.jpeg')"></a>
        <div class="favorite">
            <button class="button-icon">
                <svg width="20" height="20">
                    <use xlink:href="#icon-favorite-stroke"></use>
                </svg>
            </button>
            <button class="button-icon d-none">
                <svg width="20" height="20">
                    <use xlink:href="#icon-favorite"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="product-card__info">
        <a href="/html/product-detail.html"><h3 title="Жилет Спасательный Двухсторонний С Воротником 060-80Кг">Жилет Спасательный Двухсторонний С Воротником 060-80Кг</h3></a>
        <div class="price mb-2">
            <b class="text-danger" data-price="2029">2 029</b> руб/шт.
        </div>
        <div class="text-secondary">
            <small>Артикул: 1233445</small>
            <small>Под заказ (1 месяц)</small>
        </div>
    </div>
    <div class="product-card__actions">
        <div class="cart-cnt">
            <div class="buttons">
                <button class="cart-cnt-plus">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-arrow-up"></use>
                    </svg>
                </button>
                <button class="cart-cnt-minus">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <input type="text" data-min="5" data-max="0" value="5">
        </div>
        <button class="cart-add f-button c-primary">В корзину</button>
        <button class="cart-remove f-button c-gray text-secondary d-none">
            <svg width="16" height="16">
                <use xlink:href="#icon-delete"></use>
            </svg>
            <span class="pl-2">Удалить</span>
        </button>
    </div>
    <a href="#" class="stretched-link"></a>
</div>