<div class="product-card">
    <div class="product-card__img">
        <a href="/html/product-detail.html" class="embed-responsive embed-responsive-1by1" style="background-image: url('/upload/products/5.jpeg')"></a>
        <div class="favorite">
            <button class="button-icon">
                <svg width="20" height="20">
                    <use xlink:href="#icon-favorite-stroke"></use>
                </svg>
            </button>
            <button class="button-icon d-none">
                <svg width="20" height="20">
                    <use xlink:href="#icon-favorite"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="product-card__info">
        <a href="/html/product-detail.html"><h3 title="Нашивка КАДЕТЫ (перо и шпага) белая и желтая на красном сукне">Нашивка КАДЕТЫ (перо и шпага) белая и желтая на красном сукне</h3></a>
        <div class="price mb-2">
            <b class="text-danger" data-price="35">35</b> руб/шт.
        </div>
        <div class="text-secondary">
            <small>Артикул: ФОР-НАШ-014</small>
            <small>В наличии: 15 уп.</small>
        </div>
    </div>
    <div class="product-card__actions in-cart">
        <div class="cart-cnt">
            <div class="buttons">
                <button class="cart-cnt-plus">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-plus"></use>
                    </svg>
                </button>
                <button class="cart-cnt-minus">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-minus"></use>
                    </svg>
                </button>
            </div>
            <input type="text" data-min="2" data-max="15" value="2">
        </div>
        <button class="cart-add f-button c-primary d-none">В корзину</button>
        <button class="cart-remove f-button c-gray text-secondary">
            <svg width="16" height="16">
                <use xlink:href="#icon-delete"></use>
            </svg>
            <span class="pl-2">Удалить</span>
        </button>
    </div>
    <a href="#" class="stretched-link"></a>
</div>