<div id="catalog-search" class="main-carousel product-carousel" _data-flickity='{ "cellAlign": "left", "wrapAround": true, "pageDots": false }'>

    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>
    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>
    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>
    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>
    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>

    <div class="carousel-cell carousel-cell-last">
        <div class="product-card">
            <button class="load-more-slider">
                <svg width="36" height="36">
                    <use xlink:href="#icon-plus"></use>
                </svg>
                <svg width="24" height="24" class="icon-progress d-none">
                    <use xlink:href="#icon-progress"></use>
                </svg>
            </button>
        </div>
    </div>


</div>