<div id="catalog-grid" class="cart-grid row product-list d-flex flex-wrap">

    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart1" checked>
                <label class="custom-control-label text-muted" for="cart1"></label>
            </div>
        </div>
        //= product-card-1.html
    </div>
    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart2" checked>
                <label class="custom-control-label text-muted" for="cart2"></label>
            </div>
        </div>
        //= product-card-2.html
    </div>
    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart3" checked>
                <label class="custom-control-label text-muted" for="cart3"></label>
            </div>
        </div>
        //= product-card-3.html
    </div>
    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart4" checked>
                <label class="custom-control-label text-muted" for="cart4"></label>
            </div>
        </div>
        //= product-card-4.html
    </div>
    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart5" checked>
                <label class="custom-control-label text-muted" for="cart5"></label>
            </div>
        </div>
        //= product-card-5.html
    </div>
    <div class="product-item col-sm-6 col-md-4 col-xl-3">
        <div class="cart-item-choose">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="cart6" checked>
                <label class="custom-control-label text-muted" for="cart6"></label>
            </div>
        </div>
        //= product-card-1.html
    </div>

</div>