<div class="main-carousel product-carousel" _data-flickity='{ "cellAlign": "left", "wrapAround": true, "pageDots": false }'>

    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>
    <div class="carousel-cell">
        //= product-card-1.html
    </div>
    <div class="carousel-cell">
        //= product-card-2.html
    </div>
    <div class="carousel-cell">
        //= product-card-3.html
    </div>
    <div class="carousel-cell">
        //= product-card-4.html
    </div>
    <div class="carousel-cell">
        //= product-card-5.html
    </div>

</div>