.cart-grid {
  .cart-item-choose {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 12px 15px;
    margin-bottom: -30px;
  }

  .product-card .product-card__img .badges {
    display: none;
  }
}